body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.row{
	text-align: center;
}

img {
	border-width: 2px;
	border-color: black;
	border-style: line;
}

input{

}